{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <div class="logo"> <a href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" alt="Logo"></a> </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Головна</a></li>
                <li><a href="{% url 'about_us' %}">Про нас</a></li> 
                <li><a href="{% url 'contacts' %}">Контакти</a></li>
                <li><a href="{% url 'blog' %}">Блог</a></li>
            </ul>
        </nav>
        <div class="search">
            <form method="get" action="#"> <input type="text" name="q" placeholder="Пошук..."> <button
                    type="submit">Пошук</button> </form>
        </div>

        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <span> Привіт, {{user.username }}</span>
                <form method="post" action="{% url 'logout' %}"> 
                    {% csrf_token %} 
                    <button class="exit-btn" type="submit">Вийти</button> 
                </form>
                <a href="{% url 'addPost' %}">Додати Допис</a>
            {% else %}
             <a href="{% url 'login' %}"> Вхід</a> 
            <a href="{% url 'signup' %}">Реєстрація</a> 
            {%endif%}
            
        </div>
    </header>
    <div class="content"> 
        {% block content %}
        {% endblock %} 
    </div>
</body>
</html>
