{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Вхід</title>
</head>
<body>
    <div class="container">
    <h1>Вхід</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Вхід</button>
    </form>
    </div> 
<button onclick="history.back()" id="backBtn">&#8592;</button>

</body>
</html>
